*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
*.png
*.mem
*.nc
sicong
case_drifters_german_bight/data_extract_test.ipynb
case_lock_exchange/stdout.txt
example_notebooks/stdout.txt
*.gif
*.zarr
Manifest.toml
*.svg
